<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retrain Model</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="left-links">
          <a href="/about.html">Home</a>
        </div>
        <div class="right-links">
          <a href="/">Make Prediction</a>
          <a href="/graphs.html">Graphs</a>
          <a href="/upload" class="active">Retrain</a>
        </div>
      </nav>
    </header>

    <header>
      <h1>Animals Classification Model</h1>
    </header>

    <div class="retrain-container">
      <h1>Upload Dataset for Retraining</h1>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Upload ZIP file containing dataset:</label>
        <input type="file" id="file" name="file" required />
        <br /><br />
        <button type="submit">Retrain</button>
      </form>

      {% if message %}
      <div class="message">
        <p>{{ message }}</p>
      </div>
      {% endif %}
    </div>
  </body>
</html>
